{% extends "fullpage/base.html" %}
{% load staticfiles %}


{% block extra_js_top %}
    <!-- Style -->
    <style>
/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #990000;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section_1{
		background-image: url("{% static 'images/streamlines_shader_triangle_strips.png' %}");
	}

    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                easingcss3: 'ease', //'cubic-bezier(0.175, 0.885, 0.320, 1.275)',
                autoScrolling: true,
                scrollOverflow: true,
                fitToSection: true,
                navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ["Home", "About", "Speaker", "Workshops",
                                     "Schedule", "Register", "Venue", "Contact"],
                continuousVertical: false,
                anchors: ["Home", "About", "Speaker", "Workshops",
                          "Schedule", "Register", "Venue", "Contact"],

                menu: '#menu'
            });

        });
    </script>
{% endblock %}


{% block content_body %}
<ul id="menu">
    <li data-menuanchor="Contact"><a href="#Contact">Contact</a></li>
    <li data-menuanchor="Venue"><a href="#Venue">Venue</a></li>
    <li data-menuanchor="Register"><a href="#Register">Register</a></li>
    <li data-menuanchor="Schedule"><a href="#Schedule">Schedule</a></li>
    <li data-menuanchor="Workshops"><a href="#Workshops">Workshops</a></li>
    <li data-menuanchor="Speaker"><a href="#Speaker">Speaker</a></li>
    <li data-menuanchor="About"><a href="#About">About</a></li>
    <li data-menuanchor="Home"><a href="#Home">Home</a></li>
</ul>

<div id="fullpage">
    <div class="section" id="section_1">
        <h1>BrainHack Global</h1>
        <h3>May 2-4, 2018</h3>
        <h2>Bloomington, IN, USA</h2>
    </div>
    <div class="section" id="section_2">
        <div class="container with-padding-100">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="service-icon yellow">
                            <div class="front-content">
                                <i class="fa fa-4x fa-heart-o text-white"></i>
                                <h3>Share ideas</h3>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3>Share ideas</h3>
                            <p>those who do not know how to pursue pleasure</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="service-icon orange">
                            <div class="front-content">
                                <i class="fa fa-4x fa-rocket wow text-white"></i>
                                <h3>Build Projects</h3>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3>Build Projects</h3>
                            <p>Bring your expertize, datas, project ideas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="service-icon red">
                            <div class="front-content">
                                <i class="fa fa-4x fa-flask wow text-white"></i>
                                <h3>Learn Tools</h3>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3>Learn Tools</h3>
                            <p>Bring your expertize, datas, project ideas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <div class="service-icon grey">
                            <div class="front-content">
                                <i class="fa fa-4x fa-globe wow text-white"></i>
                                <h3>Meet the community</h3>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3>Meet the community</h3>
                            <p>Bring your expertize, datas, project ideas</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row featurette with-padding-60">
                <div class="col-md-7">
                    <h2 class="featurette-heading"><b>What</b> is BrainHack ?</h2><br/>
                    <p >Brainhack is a unique conference that convenes researchers from across the globe and a myriad of disciplines to work together on innovative projects related to neuroscience. Year after year, global Brainhack events have brought together researchers to participate in open collaboration, and regional Brainhack events keep the momentum going throughout the year. Brainhack Global 2018 will unite several regional Brainhack events throughout the world..</p>
                    <p>Whatever your background, skill‑set, or level of expertise, you are encouraged to join us and participate: propose and discuss ideas, provide tutorials, or contribute to activities initiated by others. If you're motivated, even just by curiosity, we want what you have to share</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto"
                         src="{% static 'images/brainhack_global_iu_2017_2.jpg' %}" style="width: 500px; height: 250px;">
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section_3">
        <div class="container with-padding-100">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'images/Konstantinos-Arfanakis.jpg' %}"
                         alt="Garyfallidis" width="140" height="140">
                    <h3>Konstantinos Arfanakis</h3>
                    <p>Director of the MRI Program - Pritzker Institute</p>
                    <p>Illinois Institute of Technology</p>
                    <br/>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size:  small;">Title: TBA</h5>
                            <hr class="yellow"/>
                            <p class="card-text" style="font-size:  small;">TBA</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'images/kesshi-jordan.jpeg' %}" alt="pestilli"
                         width="140" height="140">
                    <h3>Kesshi Jordan</h3>
                    <p>Neurology</p>
                    <p>University of California San Francisco</p>
                    <br/>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size:  small;">Title: Disconnection pipeline</h5>
                            <hr class="yellow"/>
                            <p class="card-text" style="font-size:  small;">Neurosurgical resection is one of the few opportunities researchers
                                have to image the human brain
                                both prior to and following focal damage. One of the challenges associated with
                                studying brains
                                undergoing surgical resection is that they often do not fit the brain templates most
                                image-processing methodologies are based on, so manual intervention is required to
                                reconcile the
                                pathology and the most extreme cases must be excluded. Manual intervention requires
                                significant
                                time investment and introduces reproducibility concerns. We propose an automatic
                                longitudinal
                                pipeline based on pre- and post-surgical HARDI data to facilitate a Pathway Lesion
                                Symptom
                                Mapping analysis relating focal white matter injury to functional deficits. Mapping
                                a system as
                                variable and complex as the human brain requires sample sizes much larger than the
                                current
                                technology can support. This pipeline can be used to execute large-scale,
                                sufficiently powered
                                analyses by meeting the need for an automatic approach to objectively quantify white
                                matter
                                disconnection.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{% static 'images/yaroslav.jpeg' %}" alt="Valentin Pentchev"
                         width="140" height="140">
                    <h3>Yaroslav Halchenko</h3>
                    <p>Psychological and Brain Sciences</p>
                    <p>Dartmouth university</p>
                    <br/>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size:  small;">Title: TBA</h5>
                            <hr class="yellow"/>
                            <p class="card-text" style="font-size:  small;">TBA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section_4">
        <div class="container with-padding-100">
            <div class="card-columns">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Basic Diffusion Imaging Pipeline</h5>
                    <hr class="yellow"/>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
                <div class="card">
                <img class="card-img" src="{% static 'images/dipy-logo.png' %}" alt="Card image">
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Analyse your Data</h5>
                    <hr class="limestone"/>
                    <p class="card-text"><small class="text-muted">By Eleftherios Garyfallidis</small></p>
                  <p class="card-text">Bring your expertize, datas, project ideas.</p>
                </div>
              </div>
             <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Advanced Scientific Programming in Python for Biomedical Engineers</h5>
                    <hr class="red"/>
                    <p class="card-text"><small class="text-muted">By Eleftherios Garyfallidis</small></p>
                    <p class="card-text">This workshop is tailored for biomedical engineers and medical imagers who are well familiar with at least one programming language (e.g. C++ or Matlab) and they want to switch into using Python in their daily analysis. With Python language being the most popular language for the last two years this maybe one of your greatest investments.

The workshop will not just teach you how to use the Python language and its leading libraries but also learn how to test properly your code and how to release your own packages. The workshop will have short presentations followed by short quick examples where you can try them in your own notebook or workstation and get immediate feedback from the instructor.</p>
                    <p class="card-text">1.Numpy</p>
                    <p class="card-text">2.Scipy</p>
                    <p class="card-text">3.Scikit-Learn</p>
                    <p class="card-text">4.Dipy</p>

                </div>
              </div>
             <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Tutorial: Signal Reconstruction Model</h5>
                    <hr class="yellow"/>
                    <p class="card-text"><small class="text-muted">By Eleftherios Garyfallidis</small></p>
                    <p class="card-text">It exist more than 20 reconstructions model. You try play with all of them during
                                    this tutorial</p>
                    <p class="card-text">1.Diffusion Tensor - DTI</p>
                    <p class="card-text">2.CSD</p>
                    <p class="card-text">3.SHORE</p>
                    <p class="card-text">4.Analysis</p>

                </div>
              </div>
                <div class="card">
                <img class="card-img" src="{% static 'images/jet_odfs.png' %}" alt="Card image">
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Basic Diffusion Imaging Pipeline</h5>
                    <hr class="orange"/>
                    <p class="card-text"><small class="text-muted">By Eleftherios Garyfallidis</small></p>
                    <p class="card-text">introduction to basic pipeline creation by using dipy</p>
                    <p class="card-text">1.Preprocessing</p>
                    <p class="card-text">2.Diffusion modelling</p>
                    <p class="card-text">3.Tractography</p>
                    <p class="card-text">4.Analysis</p>

                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="section" id="section_5">
        <div class="row with-padding-100">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <iframe style="width: 54vw;height: 75vh;position: relative;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS3tjjg7QC1yev-kYdWtuFAgR_mhrys0_vDdax_IuyunFs3uERyO9T_qr-Eye7slttDG8_AUH3QMe2e/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            </div>
        </div>
    </div>
    <div class="section" id="section_6">
        <div class="apply-section">
            <div class="container">
                <div class=".col-8 .col-md-6 .col-sm-6">
                    <h2 class="intro">Applications for 2018 are now open!</h2>
                    <h2>
                    </h2><h4>Application deadline: April 30th, 2018</h4>
                </div>
                <div class="card-deck mb-3 text-center mx-auto">
                    <div class="card mb-4 box-shadow mx-auto">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Student</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$60</h1>
                        </div>
                    </div>
                    <div class="card mb-4 box-shadow mx-auto">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Standard</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$90</h1>
                        </div>
                    </div>
                </div>
                <a href="{% url 'registration' %}" role="button" class="btn btn-lg btn-block btn-outline-primary">Apply
                </a>
            </div>
        </div>
    </div>
    <div class="section venue" id="section_7">
        <div class="container with-padding-150">
            <div class="row featurette">
                <div class="col-md-5" style="padding: 5%;">
                    <h2 class="featurette-heading"><b>Address</b></h2>
                    <p class="lead">Luddy Hall</p>
                    <p class="lead">700 N Woodlawn Ave</p>
                    <p class="lead">Bloomington, IN 47408</p>
                </div>
                <div class="col-md-7">
                    <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 530px; height: 300px;"
                         src="{% static 'images/luddy_hall.jpg' %}">
                </div>
            </div>
            <br/>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="">Lodging</h2><br/>
                <div class=""></div>

                <h3>
                    <b>On Campus Hotel Accommodations</b>

                </h3>
                <br/>
                <h5>
                    <b>Host Hotel: Indiana Memorial Union (IMU)</b>
                </h5>
                <p>
                    The Indiana Memorial Union (IMU) is located in the center of campus and is in easy walking
                    distance to many of Bloomington’s downtown shops, cafes and restaurants.
                </p>
                <br/>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Address:</td>
                        <td>
                            900 East 7th Street
                            <br>Bloomington, IN USA 47405
                            <br>812.856. 6381
                        </td>
                    </tr>
                    <tr>
                        <td>On-line reservation:</td>
                        <td><a target="_blank" rel="noopener noreferrer"
                               href="http://www.imu.indiana.edu/hotel/index.shtml">http://www.imu.indiana.edu/hotel/index.shtml</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone reservations:</td>
                        <td>(812) 856-6381</td>
                    </tr>
                    <tr>
                        <td>Room rates:</td>
                        <td>
                            Rates currently range from $139/night to $189/night depending on the type of
                            room you reserve.<br>
                            All rooms are currently subject to a 12% tax.
                        </td>
                    </tr>
                    <tr>
                        <td>Parking:</td>
                        <td>free to hotel guests</td>
                    </tr>
                    <tr>
                        <td>Wireless Internet:</td>
                        <td>free</td>
                    </tr>
                    </tbody>
                </table>

                <h3><b>Off Campus Accommodations</b>
                </h3>
                <br/>
                <p>
                    There are many hotel options outside of the IU Bloomington campus. Some hotels are
                    located within walking distance; some are a short drive from campus. Check out
                    the Visit Bloomington web site for off campus lodging (<a target="_blank"
                                                                              rel="noopener noreferrer"
                                                                              href="http://www.visitbloomington.com/visitors/hotels">http://www.visitbloomington.com/visitors/hotels</a>).
                </p>
            </div>
            <div class="col">
                <h2 class="">Travel</h2>
                <br/>
                <div class=""></div> <!-- light-text / colored-line-left-->
                <h3>
                    Driving to IU Bloomington
                </h3>
                <br/>
                <p>
                    We suggest that you consult Mapquest or Google maps for the best directions to Bloomington
                    and return or use GPS to guide you. Driving to and from the airport to campus
                    is simple and direct. Driving time from the airport to camps is approximately
                    50 minutes.
                </p>
                <br/>
                <h3>
                    Air Travel to IU Bloomington
                </h3>
                <br/>
                <p>
                    Most attendees who elect to fly to the workshop will fly to the Indianapolis International
                    Airport.
                </p>
                <br/>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Airport Symbol:</td>
                        <td>IND</td>
                    </tr>
                    <tr>
                        <td>Location:</td>
                        <td>50 miles north of Bloomington, IN</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <h3>
                    Airport to Campus
                </h3>
                <br/>
                <h5>
                    Go Express Travel - Shuttle Service
                </h5>
                <br/>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Service:</td>
                        <td>9 times daily between the airport
                            and Bloomington campus
                        </td>
                    </tr>
                    <tr>
                        <td>Advance reservations:</td>
                        <td>Recommended</td>
                    </tr>
                    <tr>
                        <td>Reservations on-line:</td>
                        <td><a href="http://www.goexpresstravel.com/airport_shuttle_schedule"
                               target="_blank" rel="noopener noreferrer">http://www.goexpresstravel.com/airport_shuttle_schedule</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>1.800.589.6004 or 812.332.6004</td>
                    </tr>
                    <tr>
                        <td>Rate:</td>
                        <td>Currently $18.00 one way</td>
                    </tr>
                    <tr>
                        <td>Airport pick-up location:</td>
                        <td>Ground Transportation Center. Lower level, outside of airport
                            Baggage Claim
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <h5>
                    Star of America - Shuttle Service
                </h5>
                <br/>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Service:</td>
                        <td>9 times daily between the airport and Bloomington campus</td>
                    </tr>
                    <tr>
                        <td>Advance reservations:</td>
                        <td>Recommended</td>
                    </tr>
                    <tr>
                        <td>Reservations on-line:</td>
                        <td><a
                                href="http://www.soashuttle.com/locations/bloomington-to-indianapolis" target="_blank"
                                rel="noopener noreferrer">http://www.soashuttle.com/locations/bloomington-to-indianapolis</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>1.800.933.0097</td>
                    </tr>
                    <tr>
                        <td>Rate:</td>
                        <td>Currently $18.00 one way</td>
                    </tr>
                    <tr>
                        <td>Airport pick-up location:</td>
                        <td>Ground Transportation Center. Lower level, outside of airport
                            Baggage Claim
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <h5>
                    Limousine Service - Classic Touch Limousine
                </h5>
                <br/>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Service:</td>
                        <td>Door to door service from airport to any location in Bloomington</td>
                    </tr>
                    <tr>
                        <td>Advance reservations:</td>
                        <td>Required</td>
                    </tr>
                    <tr>
                        <td>Rates:</td>
                        <td>Currently $122 roundtrip per person.
                            Rate is for shared ride service; private car rate is not guaranteed
                        </td>
                    </tr>
                    <tr>
                        <td>Reservations:</td>
                        <td><a href="http://classictouchlimo.com" target="_blank"
                               rel="noopener noreferrer">classictouchlimo.com</a></td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>1.800.319.0082 or 812.339.7269</td>
                    </tr>
                    <tr>
                        <td>IMPORTANT:</td>
                        <td>The limousine driver will not meet you inside of the terminal nor will
                            he/she have a sign identifying you by name. It is your responsibility to
                            approach a Classic Touch limousine and provide them with your name.
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <h4>
                    Car Rental - Bus, Taxis
                </h4>
                <br/>
                <p>
                    Most major car rental companies provide service at the airport. Car Rental companies
                    are located in the Ground Transportation Center on the lower level of the terminal,
                    outside Baggage Claim.
                </p>
                <p>
                    There is no convenient bus service from the Indianapolis Airport to IU Bloomington.
                </p>
                <p>
                    Taxis service is available, but is very expensive and not recommended.
                </p>
                <br/>
            </div>
        </div>
    </div>
    <div class="section" id="section_8">
        <div class="container with-padding-100">
            <div class="row">
                <div class="text-center mx-auto">
                    <h2>Get In Touch!</h2>
                    <hr class="orange">
                    <i class="fa fa-4x fa-envelope-o"></i>
                    <p>Contact us for information or with your ideas.</p>
                    <p>by sending a mail to <strong>grg-l -at- list.indiana.edu</strong></p>
                </div>
                <div class="text-center mx-auto">
                    <h2>Technical Support</h2>
                    <hr class="orange">
                    <p><strong>Serge Koudoro</strong>, Intelligent Systems Engineering, Indiana University</p>
                    <p><strong>David Reagan</strong>, UITS, Indiana University</p>
                </div>
            </div>
            <br/><br/><br/>
            <div class="row">
                <div class="text-center mx-auto">
                    <h2>Organizers</h2>
                    <hr class="orange">
                    <br/>
                    <div class="row">
                    <div class="col-lg-4">
                        <img class="rounded-circle" src="{% static 'images/garyfallidis.jpg' %}" alt="Garyfallidis" width="140" height="140">
                        <h3>Eleftherios Garyfallidis</h3>
                        <p>Chair, Intelligent Systems Engineering, Indiana University</p>
                    </div>
                    <div class="col-lg-4">
                        <img class="rounded-circle" src="{% static 'images/ValentinPentchev.jpg' %}" alt="pestilli" width="140" height="140">
                        <h3>Valentin Pentchev</h3>
                        <p>Indiana University Network Institute</p>
                    </div>
                    <div class="col-lg-4">
                        <img class="rounded-circle" src="{% static 'images/pestilli.jpeg' %}" alt="Valentin Pentchev" width="140" height="140">
                        <h3>Franco Pestilli</h3>
                        <p>Cognitive Science, Indiana University</p>
                    </div>
                        </div>
                </div>
            </div>
            <br/><br/>
            <div class="row">

            </div>
        </div>
    </div>
</div>
{% endblock %}

